.magicPop p{
    padding: 0;
    margin: 0;
}

.magicPop,
.magicPop *{
    box-sizing: border-box;
}
.magicPop{
    font-family: sans-serif;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(3px);
    z-index: 999;
    overflow: hidden;
}

.mp-backdrop{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mp-wrapper{
    overflow: hidden;
    width: 700px;
    height: 350px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
    border: 4px solid #66b2ff;
    padding-bottom: 30px;
}
.mp-error .mp-wrapper{
    border-color: #ff6666;
}
.mp-success .mp-wrapper{
    border-color: #00ff80;
}
.magicPop.opacity .mp-wrapper{
    opacity: 0;
}
.magicPop.margin-left .mp-wrapper{
    margin-left: -100vw;
}
.magicPop.scale .mp-wrapper{
    scale: 0;
}
.magicPop.margin-bottom .mp-wrapper{
    margin-bottom: -100vh;
}
.mp-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #66b2ff;
    padding: 30px;
    font-size: 22px;
    color: #fff;
}
.mp-close{
    background-color: transparent;
    border:none;
    color: inherit;
    font-size: inherit;
}
.mp-error .mp-header{
    background-color: #ff6666;
}
.mp-success .mp-header{
    background-color: #00ff80;
}
.mp-close:hover{
    opacity: .8;
    cursor: pointer;
}
.mp-btns{
    display: flex;
    justify-content: center;
}
.mp-btn{
    width: 120px;
    height: 50px;
    font-size: inherit;
    border-radius: 7px;
    border: 3px solid #66b2ff;
    background-color: transparent;
    cursor: pointer;
}
.mp-error .mp-btn{
    border-color: #ff6666;
}
.mp-success .mp-btn{
    border-color: #00ff80;
}
.mp-btn:active{
    background-color: #fcfcfc;
}
.mp-btn.accept:hover{
    border-color: #00ff80;
}
.mp-btn.cancel:hover{
    border-color: #ff6666;
}
.mp-error .mp-btn.cancel:hover{
    border-color: #66b2ff;
}
.mp-success .mp-btn.accept:hover{
    border-color: #66b2ff;
}
.mp-btn + .mp-btn{
    margin-left: 25px;
}